@import url(http://fonts.googleapis.com/css?family=Sirin+Stencil|Comfortaa:400,700|Rancho);
body {
background: #d9cde2; /* Old browsers */
background: -moz-linear-gradient(top,  #d9cde2 0%, #5f4177 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9cde2), color-stop(100%,#5f4177)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d9cde2 0%,#5f4177 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d9cde2 0%,#5f4177 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d9cde2 0%,#5f4177 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d9cde2 0%,#5f4177 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9cde2', endColorstr='#5f4177',GradientType=0 ); /* IE6-9 */
	font-family: 'Comfortaa', cursive;
}
header h1 {
	font-family: 'Sirin Stencil', cursive;
}
header h1 small {
	color: #4F2B6F;
	font-family: 'Rancho', cursive;
}
h1 {
	font-family: 'Rancho', cursive;
}
/* Panel */
.panel {
	background: rgba(255, 255, 255, 0.55);
	box-shadow: 0 0 9px -1px #4F2B6F;
}
ul.horList {
	list-style-type: none;
}
.horList li {
	display: inline-block;
	padding: 1em;
	border-left: 2px solid;
}
.horList li:first-of-type {
	border-left: none;
}

/* Thumbnail */
.thumbnail {
	background-color: rgba(140, 167, 186, 1);
	padding: 1em .5em;
	border-radius: 30px;
	border-color: transparent;
	box-shadow: 0 0 9px -1px #4F2B6F;
}
.thumbnail > img {
	box-shadow: 0 0 5px 2px #466469;
	width: 14em;
	height: 10em;
}
.thumbnail h3 {
	font-size: 1em;
	margin-top: 0em;
	color: #fff;
}
.thumbnail p {
	font-size: .9em;
}
.thumbnail .horList {
	padding-left: 0;	
}
.thumbnail .horList li {
	border-left-width: 1px;
	display: inline-block;
	padding: .5em;
	font-size: .8em;
}